html    {
height: 100%;
}

body    {
margin: 0;
height: 100%;
display: flex;
flex-direction: column;
font-family: Roboto;
font-style: normal;
}

header  {
    flex: 0 0 24px;
    background-color: gray;
    margin: 16px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    }

    header .logo    {
        font-weight: 500;
    }

.wrapper    {
display: flex;
}

main  {
    flex: 1 0 auto;
    width: 448px;
    margin: 0 auto;
}

.progress-bar   {
    margin-bottom: 40px;
}

.progressBar__steps {
font-weight: 500;
font-size: 10px;
line-height: 16px;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #3D7BF5;
margin: 0;
}

.progress-bar p{
font-weight: normal;
font-size: 12px;
line-height: 16px;
margin: 0;
}

.progress-line  {
    width: 100%;
    height: 4px;
    background-color: #3D7BF5;
    margin-top: 6px;
}

.tell-us    {
    margin-bottom: 24px;
    text-align: center;
}

.tell-us h1 {
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 42px;
}

.tell-us p  {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.44px;
color: #3E4345;
}

.profile    {
    margin-bottom: 40px;
}

.profile input,
.profile select  {
    width: 100%;
}

.label {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .input {
    border: 0;
    border-bottom: 1px solid #E3E5E6;
    height: 40px;
    width: 200px;
  }

.profile label,
.activity p,
.monetization p,
.supported-platforms p   {
color: #919699;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.4px;
}

.activity,
.monetization,
.supported-platforms   {
margin-bottom: 24px;
font-size: 16px;
line-height: 36px;
letter-spacing: 0.44px;
}

option {
line-height: 30px;
}

.activity p {
color: #919699;
}

.select {
    position: relative;
}

.select select {
    display: block;
    width: 100%; 
    padding: 5px 0 10px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 16px;
}

.arrow {
    position: absolute;
    pointer-events: none;
    left: 430px;
    top: 38px;
    width: 10px;
    height: 5px;
  }


label.label:focus-within {
color: #3D7BF5;
  }

.profile-form .input:focus   {
    border-bottom: 1px solid #3D7BF5;
    outline: none;
}

.activity p:focus-within {
    color: #3D7BF5;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    }
    
    .custom-radio+label  {
    display: inline-flex;
    align-items: center;
    user-select: none;
    }
    
    .custom-radio+label::before  {
    content: "";
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #919699;
    border-radius: 8px;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    }
    
    .custom-radio:checked+label::before  {
        border-color:#3D7BF5;
        background-color: #3D7BF5;
        background-image: url("Img/Path(1).png");
    }
    
    .custom-radio:not(:checked):not(:disabled)+label:hover::before  {
        border-color:#3D7BF5;
    }
    
    .custom-radio:not(:disabled):active+label::before  {
        border-color:#6a9bfc;
        background-color: #6a9bfc;
    }
    
    .custom-radio:focus+label::before  {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    
    .custom-radio:disabled+label::before  {
        border-color:#919699;
        background-color: lightgray;
    }

.custom-checkbox {
position: absolute;
z-index: -1;
opacity: 0;
}

.custom-checkbox+label  {
display: inline-flex;
align-items: center;
user-select: none;
}

.custom-checkbox+label::before  {
content: "";
width: 14px;
height: 14px;
flex-shrink: 0;
flex-grow: 0;
border: 1px solid #919699;
border-radius: 3px;
margin-right: 13px;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}

.custom-checkbox:checked+label::before  {
    border-color:#3D7BF5;
    background-color: #3D7BF5;
    background-image: url("Img/Path.png");
}

.custom-checkbox:not(:checked):not(:disabled)+label:hover::before  {
    border-color:#3D7BF5;
}

.custom-checkbox:not(:disabled):active+label::before  {
    border-color:#6a9bfc;
    background-color: #6a9bfc;
}

.custom-checkbox:focus+label::before  {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:disabled+label::before  {
    border-color:#919699;
    background-color: lightgray;
}

.buttons    {
    margin-top: 56px;
    margin-bottom: 108px;
    display: flex;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.buttons a  {
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
letter-spacing: 0.75px;
}


.buttons__back   {
    width: 120px;
    height: 40px;
    background-color: white;
    opacity: 0.48;
    color:blue;
    border: 1px solid #3D7BF5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    }
    
.buttons__done   {
width: 128px;
height: 40px;
background: #F1F3F4;
color: #919699;
display: flex;
justify-content: center;
align-items: center;
}

.buttons a:focus   {
   
    background: #2FA84F;;
    color: white;
}

footer  {
flex: 0 0 60px;
display: flex;
justify-content: center;
align-items: center;
background: #F7F9FA;
}

a.terms,
a.agreement    {
text-decoration: none;
color: #919699;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.25px;
}

.terms  {
margin-right: 32px;
}
